.pageTwo {
    width: 100%;
    height: 1080px;

    margin-top: 69px;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theQuizz{
    display:flex;
    flex-direction:column;
    align-items: center;
}


.tittle-img {
    width: 100%;
    height: 227px;
    margin-bottom: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.tittle-img h6 {
    color: white;
    position: absolute;
    text-align: center;
}

.black-mask {
    width: 100%;
    height: 227px;

    background-color: rgba(0, 0, 0);
}

.black-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.quizz-box {
    width: 759px;
    height: 676px;
    padding: 35px;
    margin-bottom: 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.question-box {
    width: 688.16px;
    height: 137.99px;

    background-color: rgba(67, 76, 160, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.images-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images-box img {
    width: 329.91px;
    height: 175.2px;
    object-fit: cover;

    background-color: red;
}

.box-img h5 {
    width: 329.91px;
    height: 34.11px;
    margin-top: 9.3px;

    font-weight: 700;
    font-size: 20px;
}

.endQuizz {
    width: 759px;
    padding: 15px;
    margin-bottom: 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.endQuizz-box {
    display: flex;
    flex-direction: column;
}

.answerQuizz {
    width: 727px;
    height: 99px;

    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answerQuizz h6 {
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    color: white;
}

.img-answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-answer img {
    width: 364px;
    height: 273px;

    padding: 15px 10px 15px 0px;

    object-fit: cover;
}

.img-answer p {
    width: 364px;
    height: 273px;
    padding: 15px 0px 15px 10px;

    font-size: 19px;
    font-weight: 700;
    line-height: 25px;

    word-wrap: break-word;
}

@media (max-width: 759px) {

    .theQuizz {
        width: 100%;
    }

    .quizz-box {
        width: 100%;
        height: 100%;
        padding: 18px;
    }
    
    .question-box {
        width: 100%;
        height: 89px;
        margin-bottom: 18px;
    }
    
    .box-img {
        width: 50%;
        padding: 0 10px 0 10px;
    }

    .images-box img {
        width: 100%;
        object-fit: cover;
    
        background-color: white;
    }

}